<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CASeekForCity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82D9951A1C43E8A6009BCC9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D995331C43E8A7009BCC9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D9953E1C43E8A7009BCC9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
